@font-face {
    font-family: "norse_bold";
    src: url("assets/norse-bold-webfont.woff") format("woff"),
        url("assets/norse-bold-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
    display: flex;
}

img {
    height: 50rem;
}
#side-banner {
    display: inline-block;
}

#signup-form {
    display: flex;
    flex-direction: column;
}

form {
    display: inline;
}

.content {
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

label, input {
    display: flex;
    flex-direction: column;
}

button {
    display: inline;
}

.user-form {
    display: flex;
    gap: 10px;
}